body{
    background-color: #f5f5dd
}


div {
    width: 250px;
    margin-bottom: 4px;
 
  }
  
  #taller {
    height: 100px;
    width: 150px;
    background-color:rgba(0, 0, 0, 0.80)
  }
  
  #shorter {
    height: 100px;
    width: 150px;
    
    background-color:rgba(0, 0, 0, 0.60)
       }
       
    #parent {
      height: 100px;
      width: 150px;
      background-color:rgba(0, 0, 0, 0.45)
  }
  
  #child{
      height: 100px;
      width: 150px;
      background-color: rgba(0,0,0, 0.30)
  }
