body {
    background-color: #f5f5dd
}


div {
    width: 250px;
    margin-bottom: 4px;
 
}
  
#taller, #shorter, #parent, #child{
  height: 100px;
  width: 150px;
}

  #taller {
  background-color:rgba(0, 0, 0, 0.80)
}
  
  #shorter {
   background-color:rgba(0, 0, 0, 0.60)
}
       
    #parent {
      background-color:rgba(0, 0, 0, 0.45)
}
  
  #child {
    background-color: rgba(0,0,0, 0.30)
}
